@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;1,100;1,200;1,300&family=Mulish:ital,wght@0,200;0,300;1,200;1,300&display=swap');
@import url( "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --font-primary:'baloo da 2',serif;
    --font-secundary:'Josefin Slab',serif ;
    --font-action: 'Mulish',serif;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
}
.burguer{
    
    width: 2rem;
    height: 1rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    margin: 10px;
}
.show-menu .burguer{
    right: 16rem;
    transition: 1s;
}
.show-menu #line1{
   transform: rotate(-45deg) translate(-8px, 7.5px)
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3{
    transform: rotate(45deg) translate(-2px, -2px);
}
.burguer span{
    background-color: blue;
    color: white;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
     top: 2px;
     opacity: 0;
     
}
.burguer span::before{
    content: "";
    position: absolute;
    border-right: 8px solid blue;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    left: -1rem;
}
.show-menu .burguer:hover span{
    opacity: 1;
    transition: all  .8s;
}
.line{
    width: 100%;
    background-color: #fff;
    height: 2px;
    margin: 5px;
    box-shadow: 0.1rem 0.1rem 1px rgba(0, 0, 0, 0.603);
    transition: transform 1s;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 25s forwards;

}
@keyframes zoom{
    0%{
       transform: scale(1.3)
    }
    100%{
        transform: scale(1)
    }
}
.banner{
    left: 10%;
    bottom: 40%;
    position: absolute;
}
.banner h1{
    color: #fff;
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 35px;
    font-size: 45px;
    text-transform: capitalize;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.692);
    animation: moveBanner 1.5s forwards;
    opacity: 0;
}
@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-35deg);
        
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.banner p{
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 30px;
    font-family: var(--font-secundary);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.692);
    font-weight: 550;
    animation: moveBanner 2s forwards;
    opacity: 0;
}
.banner button{
    padding: 12px 30px;
    background: #005C97; 
    background: -webkit-linear-gradient(to right, #363795, #005C97);
    background: linear-gradient(to right, #363795, #005C97); 
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    animation: moveBanner 2.3s forwards;
    opacity: 0;
    
   
    
    
    
}
 .banner button:hover{
background: rgba(0, 0, 255, 0.89);
     
}



.sidebar{
    width: 20rem;
    height: 100vh;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.658);
    top: 0;
    right: -20rem;
    transition: all 1s;
}
.show-menu .sidebar{
    right: 0;
}
.menu{
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    
}
.menu-item{
    text-align: center;
    margin: 10px;
    
}
.menu-link{
    font-family: var(--font-action);
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s;
     
}
.menu-link:hover{
    color: blue;
    
    
}
.social-media{
    position: absolute;
    bottom: 5px;
    
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}
.social-media i{
    color:#fff;
    font-size: 30px;
    margin: 5px;
    transition: color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 2.5rem;
   width: 2.5rem;
  
    
}
.social-media i:hover{
    color: blue;
}
.sessao-header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 30px;
   
    border-bottom: 2px solid rgba(0, 0, 255, 0.733);
    border-radius: 10px;
    font-weight: 300;

}
.conhecimento-header{
    display: flex;
    align-items: center;
    
}
.sessao-conhecimentos{
    height: 100%;
    background-color: #f5f5f5b6;
}
.conhecimentos{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(16 ,1fr);
    grid-template-rows: repeat(6, 6rem);
   
    row-gap: 0.5rem;
}
.conhecimento:nth-child(1){
    grid-column: 3/6;
    grid-row: 2/5;
}
.conhecimento:nth-child(2){
    grid-column: 2/5;
    grid-row: 4/6;

}
.conhecimento:nth-child(3){
    grid-column: 12/16;
    grid-row: 2/7;

}
.conhecimento:nth-child(4){
    grid-column: 13/16;
    grid-row: 4/6;

}
.conhecimento:nth-child(5){
    grid-column: 7/10;
    grid-row: 6/6;

}
.conhecimento-header i{
    font-size: 30px;
    padding: 6px;
}
.conhecimento-header h3{
    text-transform: uppercase;
    font-family: var(--font-secundary);
    font-size: 25px;
}
.conhecimento-header i.fab.fa-html5{
    color: chocolate;
    
}
.conhecimento-header i.fab.fa-css3-alt{
    color: darkcyan;
    
}
.conhecimento-header i.fab.fa-js-square{
    color: gold;
    
}
.conhecimento-header i.fab.fa-react{
    color: lightskyblue;
    
}
.conhecimento-img{
    grid-column: 6/14;
    grid-row: 2/5;
    width: 280px;
    height: 280px;
}
.conhecimento-img img{
    object-fit: cover;
    height: 100%;
}
.projects{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.cards{
    width: 20rem;
    height: 25rem;
    padding-top: 20px;
    position: relative;
    
}
.card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: .5rem;
    opacity: .8;
    
    
}
.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.445);
    transition: opacity .3s;
    opacity: .9;
}
.card-info {
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    transition: all .3s;
  }
.card-info h2{
    font-family: var(--font-primary);
    color: blanchedalmond;
    font-weight: 400;
    font-size: 35px;
    text-transform: capitalize;
    text-shadow: 1px 1px black;
}
.card-info h3{
    font-family: var(--font-secundary);
    color: blanchedalmond;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.603);
    color: rgb(6, 199, 6);
}
.card-info p{
    color: blanchedalmond;
    text-shadow: 2px 2px black;
    font-family: var(--font-secundary);
    font-weight: 500;
    font-size: 20px;
}
.card-info button{
    width: 120px;
    height: 40px;
    margin-top: 20px;
    background: #005C97; 
    background: -webkit-linear-gradient(to right, #363795, #005C97);
    background: linear-gradient(to right, #363795, #005C97); 
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}
.cards:hover .card-info{
    bottom: 2rem;
    visibility: visible;
    opacity: 1;
   
   
}
.cards:hover .card-img-wrapper {
    opacity: 1;
}
.sessao-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(44, 43, 43);
}
.contato-wrapper{
   display: flex;
    width: 60%;
    height: 30rem;
    box-shadow: 4px 4px 4px black;
}
.contato-left{
    width: 35%;
    
    background:linear-gradient(rgba(22,22,22,0.3),rgba(15,15,15,0.8)), url(./imagens/pexels-sora-shimazaki-5668839.jpg);
    background-size: cover;
}
.contato-right{
    width: 65%;
    background: rgb(236, 227, 208);
    padding: 3rem;
}
.sessao-contato form{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.sessao-contato h1{
    font-family: var(--font-primary);
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
}
.field{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px dashed gray;
    width: 20rem;
    height: 3rem;
    margin: 2rem 0;
 
    
    
}
.field-group{
    position: relative;
    
}
.field-label{
    position: absolute;
    left: 0;
    transition: all 0.3s;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    padding-top: 10px;
}
.field-group textarea{
    top: 2rem;
}
.field:focus ~ label{
    top: 1;
    font-size: 1.5rem;
}
.btn-form{
    padding: 12px 30px;
    background: #005C97; 
    background: -webkit-linear-gradient(to right, #363795, #005C97);
    background: linear-gradient(to right, #363795, #005C97); 
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
  
    cursor: pointer;
}
.btn-form:hover{
    background: rgb(12, 230, 5);
}
.sessao-orcamento{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(./imagens/orçamento.jpg);
    background-position: bottom center;
    background-size: cover;
    position: absolute;
}
.orcamento-wrapper{
    width: 60%;
    height: 28rem;
    background: rgba(255, 255, 255, 0.651);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.336);
    border-radius: 10px;
   

}
.sessao-orcamento h1{
    position: relative;
    background: #005C97; 
    background: -webkit-linear-gradient(to right, #363795, #005C97);
    background: linear-gradient(to right, #363795, #005C97); 
    color: white;
    width: 50%;
    height: 2rem;
    top: -25px;
    text-align: center;
    padding: 20px;
    left: 3rem;
    border-radius: 10px;
    font-family: var(--font-primary);
    text-transform: uppercase;
    box-shadow: 0.3rem 0.5rem 0.5rem rgba(0, 0, 0, 0.418);
    font-weight: 500;
}
.sessao-orcamento form{
    margin: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10rem;
    row-gap: 2rem;
}
.orcamento-wrapper label{
    font-family: var(--font-secundary);
    text-transform: capitalize;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.orcamento-wrapper [type="number"]{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 22px;
    
}
.btn-orcamento{
    padding: 12px 30px;
    background: #005C97; 
    background: -webkit-linear-gradient(to right, #363795, #005C97);
    background: linear-gradient(to right, #363795, #005C97); 
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top:3rem;
    position: relative;
    cursor: pointer;
    right: -15rem;
}
.btn-orcamento:hover{
    background: rgb(7, 165, 20);
}
